@{
	ViewBag.Title = "Home Page";
}

@{
	ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="content-container container" style="transform: none;">
	<div class="ad-placement-header-footer">
	</div>
	<div id="contnet" style="transform: none;">
		<div class="page-margin" style="transform: none;">
			<div class="row" style="transform: none;">
				<div class="col-md-2 leftcol" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 525px;">


					<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 0px; position: fixed; transform: translateY(65px); left: 99px; top: 0px; width: 156.719px;">
						<div class="left-sidebar">
							<ul>
								<li>
									<a href="https://biztime.com.vn/0dc53e223" data-ajax="?link1=timeline&amp;u=0dc53e223">
										<img alt="Onl Hero Profile Picture" src="https://biztime.com.vn/upload/photos/2019/04/thRSBWIi4skY3jCmKQS1_avatar.jpg?cache=0"> Onl Hero
									</a>
								</li>
								<li>
									<a href="https://biztime.com.vn" data-ajax="?index.php?link1=home">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30"><path fill="#3D8CFA" d="M26.7 11.3L25 9.9V6c0-.6-.4-1-1-1h-1c-.6 0-1 .4-1 1v1.4l-6.3-5.2c-.2-.1-.4-.2-.7-.2s-.5.1-.7.3l-11 9c-.2.2-.3.4-.3.7 0 .6.4 1 1 1h1v11c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V13h1c.6 0 1-.4 1-1 0-.3-.1-.5-.3-.7zM22 23h-4v-8h4v8z"></path></svg> News Feed
									</a>
								</li>
								<li>
									<a href="https://biztime.com.vn/albums" data-ajax="?link1=albums">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#8bc34a" d="M4,15.5857864 L8,11.5857864 L11.5,15.0857864 L18,8.58578644 L20,10.5857864 L20,4 L4,4 L4,15.5857864 Z M4,18.4142136 L4,20 L13.5857864,20 L8,14.4142136 L4,18.4142136 Z M16.4142136,20 L20,20 L20,13.4142136 L18,11.4142136 L12.9142136,16.5 L16.4142136,20 Z M4,2 L20,2 C21.1045695,2 22,2.8954305 22,4 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,4 C2,2.8954305 2.8954305,2 4,2 Z M11,5 C12.6568542,5 14,6.34314575 14,8 C14,9.65685425 12.6568542,11 11,11 C9.34314575,11 8,9.65685425 8,8 C8,6.34314575 9.34314575,5 11,5 Z M11,7 C10.4477153,7 10,7.44771525 10,8 C10,8.55228475 10.4477153,9 11,9 C11.5522847,9 12,8.55228475 12,8 C12,7.44771525 11.5522847,7 11,7 Z"></path></svg> Album
									</a>
								</li>
								<li>
									<a href="https://biztime.com.vn/saved-posts" data-ajax="?link1=saved-posts">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#673ab7" d="M17,19.381966 L17,17 L19,17 L19,22.618034 L12,19.118034 L5,22.618034 L5,4 C5,2.8954305 5.8954305,2 7,2 L17,2 C18.1045695,2 19,2.8954305 19,4 L19,5 L17,5 L17,4 L7,4 L7,19.381966 L12,16.881966 L17,19.381966 Z M18,10 L18,8 L20,8 L20,10 L22,10 L22,12 L20,12 L20,14 L18,14 L18,12 L16,12 L16,10 L18,10 Z"></path></svg> Đã Lưu
									</a>
								</li>

								<li class="link_separator">Community</li>
								<li>
									<a href="https://biztime.com.vn/events/" data-ajax="?link1=events">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#f25e4e" d="M20,8 L20,5 L18,5 L18,6 L16,6 L16,5 L8,5 L8,6 L6,6 L6,5 L4,5 L4,8 L20,8 Z M20,10 L4,10 L4,20 L20,20 L20,10 Z M18,3 L20,3 C21.1045695,3 22,3.8954305 22,5 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,5 C2,3.8954305 2.8954305,3 4,3 L6,3 L6,2 L8,2 L8,3 L16,3 L16,2 L18,2 L18,3 Z M9,14 L7,14 L7,12 L9,12 L9,14 Z M13,14 L11,14 L11,12 L13,12 L13,14 Z M17,14 L15,14 L15,12 L17,12 L17,14 Z M9,18 L7,18 L7,16 L9,16 L9,18 Z M13,18 L11,18 L11,16 L13,16 L13,18 Z"></path></svg> Sự Kiện
									</a>
								</li>
								<li>
									<a href="https://biztime.com.vn/groups" data-ajax="?link1=groups">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#03A9F4" d="M6.5,22 C4.01471863,22 2,19.9852814 2,17.5 C2,15.0147186 4.01471863,13 6.5,13 C8.98528137,13 11,15.0147186 11,17.5 C11,19.9852814 8.98528137,22 6.5,22 Z M17.5,22 C15.0147186,22 13,19.9852814 13,17.5 C13,15.0147186 15.0147186,13 17.5,13 C19.9852814,13 22,15.0147186 22,17.5 C22,19.9852814 19.9852814,22 17.5,22 Z M6.5,11 C4.01471863,11 2,8.98528137 2,6.5 C2,4.01471863 4.01471863,2 6.5,2 C8.98528137,2 11,4.01471863 11,6.5 C11,8.98528137 8.98528137,11 6.5,11 Z M17.5,11 C15.0147186,11 13,8.98528137 13,6.5 C13,4.01471863 15.0147186,2 17.5,2 C19.9852814,2 22,4.01471863 22,6.5 C22,8.98528137 19.9852814,11 17.5,11 Z M17.5,9 C18.8807119,9 20,7.88071187 20,6.5 C20,5.11928813 18.8807119,4 17.5,4 C16.1192881,4 15,5.11928813 15,6.5 C15,7.88071187 16.1192881,9 17.5,9 Z M6.5,9 C7.88071187,9 9,7.88071187 9,6.5 C9,5.11928813 7.88071187,4 6.5,4 C5.11928813,4 4,5.11928813 4,6.5 C4,7.88071187 5.11928813,9 6.5,9 Z M17.5,20 C18.8807119,20 20,18.8807119 20,17.5 C20,16.1192881 18.8807119,15 17.5,15 C16.1192881,15 15,16.1192881 15,17.5 C15,18.8807119 16.1192881,20 17.5,20 Z M6.5,20 C7.88071187,20 9,18.8807119 9,17.5 C9,16.1192881 7.88071187,15 6.5,15 C5.11928813,15 4,16.1192881 4,17.5 C4,18.8807119 5.11928813,20 6.5,20 Z"></path></svg> Chapter
									</a>
								</li>
								<li class="pageactive">
									<a href="https://biztime.com.vn/pages" data-ajax="?link1=pages">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#f79f58" d="M5,21 L5,1 L7,1 L7,2 L21.1247446,2 L18.1259893,7.99991055 L21.126034,14 L7,14 L7,21 L8,21 L8,23 L4,23 L4,21 L5,21 Z M7,12 L17.889966,12 L15.8900107,8.00008945 L17.8892554,4 L7,4 L7,12 Z"></path></svg> Trang
									</a>
								</li>
								<li>
									<a href="https://biztime.com.vn/poke" data-ajax="?link1=poke">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30"><path fill="#009688" d="M1 20.5zM23 12c-.8 0-1.5.5-1.8 1.2L21 13c0-1.1-.9-2-2-2s-2 .9-2 2v-1c0-1.1-.9-2-2-2s-2 .9-2 2V4c0-1.1-.9-2-2-2s-2 .9-2 2v15.5C6.4 18.2 5.3 18 4 18c-1.5 0-3 .6-3 2.5l4.5 2 3.2 3.2c1.5 1.5 3.5 2.3 5.7 2.3H21c2.2 0 4-1.8 4-4V14c0-1.1-.9-2-2-2z"></path></svg> <span>Thả thính</span>
									</a>
								</li>


								<li class="link_separator">Bản Tin</li>
								<li>
									<a href="https://biztime.com.vn/blogs">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#f35d4d" d="M19,21 L5,21 C3.34314575,21 2,19.6568542 2,18 L2,3 L16,3 L18,3 L18,8 L22,8 L22,9 L22,18 C22,19.6568542 20.6568542,21 19,21 Z M16.1707057,19 C16.0601542,18.6872211 16,18.3506354 16,18 L16,5 L4,5 L4,18 C4,18.5522847 4.44771525,19 5,19 L16.1707057,19 Z M18,10 L18,18 C18,18.5522847 18.4477153,19 19,19 C19.5522847,19 20,18.5522847 20,18 L20,10 L18,10 Z M10,7 L10,11 L6,11 L6,7 L10,7 Z M14,8 L14,10 L11,10 L11,8 L14,8 Z M14,12 L14,14 L6,14 L6,12 L14,12 Z M14,15 L14,17 L6,17 L6,15 L14,15 Z"></path></svg> Bản Tin
									</a>
								</li>
								<li class="link_separator">Mua Bán</li>
								<li>
									<a href="https://biztime.com.vn/products" data-ajax="?link1=products">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30"><path fill="#7d8250" d="M23 14c-.7 0-1.4-.2-2-.6-.6.3-1.3.6-2 .6s-1.4-.2-2-.6c-.6.3-1.3.6-2 .6s-1.4-.2-2-.6c-.6.3-1.3.6-2 .6s-1.4-.2-2-.6c-.6.4-1.3.6-2 .6s-1.4-.2-2-.5c-.6.3-1.3.5-2 .5v11c0 1.1.9 2 2 2h12V17h6v10h2c1.1 0 2-.9 2-2V14c-.7 0-1.4-.2-2-.5-.6.3-1.3.5-2 .5zm-10 9H7v-6h6v6zM26 6V5c0-1.1-.9-2-2-2H6c-1.1 0-2 .9-2 2v1l-3 4c0 1.1.9 2 2 2s2-.9 2-2l2-4h3l-1 4c0 1.1.9 2 2 2s2-.9 2-2V6h4v4c0 1.1.9 2 2 2s2-.9 2-2l-1-4h3l2 4c0 1.1.9 2 2 2s2-.9 2-2l-3-4z"></path></svg> Mua Bán
									</a>
								</li>
								<li>
									<a href="https://biztime.com.vn/my-products" data-ajax="?link1=my-products">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#6a7f9a" d="M17.118034,7 L20,7 C21.1045695,7 22,7.8954305 22,9 L22,11 C22,11.8400191 21.4821261,12.5590822 20.7482321,12.8553354 C20.7516471,12.9031122 20.7533839,12.9513533 20.7533839,13 C20.7533839,13.1459247 20.7374136,13.2914111 20.7057581,13.4338609 L19.1502025,20.4338609 C18.9468525,21.348936 18.1352257,22 17.1978284,22 L6.80217161,22 C5.86477431,22 5.05314751,21.348936 4.84979749,20.4338609 L3.29424193,13.4338609 C3.25094564,13.2390276 3.23766963,13.0445179 3.25133987,12.8551625 C2.51767261,12.5588026 2,11.8398557 2,11 L2,9 C2,7.8954305 2.8954305,7 4,7 L6.88196601,7 L9.10557281,2.5527864 C9.35256206,2.05880791 9.9532351,1.85858356 10.4472136,2.10557281 C10.9411921,2.35256206 11.1414164,2.9532351 10.8944272,3.4472136 L9.11803399,7 L14.881966,7 L13.1055728,3.4472136 C12.8585836,2.9532351 13.0588079,2.35256206 13.5527864,2.10557281 C14.0467649,1.85858356 14.6474379,2.05880791 14.8944272,2.5527864 L17.118034,7 Z M18.0002188,9 C17.9999331,9.36654113 17.7973775,9.71934526 17.4472136,9.89442719 C16.9532351,10.1414164 16.3525621,9.94119209 16.1055728,9.4472136 L15.881966,9 L8.11803399,9 L7.89442719,9.4472136 C7.64743794,9.94119209 7.0467649,10.1414164 6.5527864,9.89442719 C6.20262255,9.71934526 6.00006692,9.36654113 5.99978125,9 L4,9 L4,11 L20,11 L20,9 L18.0002188,9 Z M5.24661605,13 L6.80217161,20 L17.1978284,20 L18.7533839,13 L5.24661605,13 Z"></path></svg> Sản Phẩm
									</a>
								</li>
								<li class="link_separator">Cộng Đồng</li>
								<li>
									<a href="https://biztime.com.vn/most_liked" data-ajax="?link1=most_liked">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#8d73cc" d="M15,3.41421356 L15,7 L18.5857864,7 L15,3.41421356 Z M19,9 L15,9 C13.8954305,9 13,8.1045695 13,7 L13,3 L5,3 L5,21 L19,21 L19,9 Z M5,1 L15.4142136,1 L21,6.58578644 L21,21 C21,22.1045695 20.1045695,23 19,23 L5,23 C3.8954305,23 3,22.1045695 3,21 L3,3 C3,1.8954305 3.8954305,1 5,1 Z M13,13.4142136 L13,18 L11,18 L11,13.4142136 L9.70710678,14.7071068 L8.29289322,13.2928932 L12,9.58578644 L15.7071068,13.2928932 L14.2928932,14.7071068 L13,13.4142136 Z"></path></svg> Xem Nhiều
									</a>
								</li>

								<li>
									<a href="https://biztime.com.vn/new-game" data-ajax="?link1=new-game">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30"><path fill="#03A9F4" d="M28.9 20.2l-2-10.7c-.2-1.2-1.2-2.1-2.3-2.4 0 0-5.5-1.1-9.6-1.1S5.4 7.1 5.4 7.1c-1.2.2-2.1 1.1-2.3 2.3l-2 10.7c-.1.3-.1.6-.1.9 0 2.2 1.8 4 4 4 1.2 0 2.2-.5 3-1.3L9.5 22h11l1.5 1.7c.7.8 1.8 1.3 3 1.3 2.2 0 4-1.8 4-4 0-.3 0-.6-.1-.8zM10 16H9v1c0 .6-.4 1-1 1s-1-.4-1-1v-1H6c-.6 0-1-.4-1-1s.4-1 1-1h1v-1c0-.6.4-1 1-1s1 .4 1 1v1h1c.6 0 1 .4 1 1s-.4 1-1 1zm11 1c0-.6.4-1 1-1s1 .4 1 1-.4 1-1 1-1-.4-1-1zm3-3c.6 0 1 .4 1 1s-.4 1-1 1-1-.4-1-1 .4-1 1-1zm-2-2c.6 0 1 .4 1 1s-.4 1-1 1-1-.4-1-1 .4-1 1-1zm-2 4c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1z"></path></svg> Games
									</a>
								</li>
								<li>
									<a href="https://biztime.com.vn/movies/">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#8d73cc" d="M23,19 C23,20.1045695 22.1045695,21 21,21 L9,21 C7.8954305,21 7,20.1045695 7,19 L7,5 C7,3.8954305 7.8954305,3 9,3 L21,3 C22.1045695,3 23,3.8954305 23,5 L23,19 Z M6,20 C4.8954305,20 4,19.1045695 4,18 L4,6 C4,4.8954305 4.8954305,4 6,4 L6,20 Z M3,19 C1.8954305,19 1,18.1045695 1,17 L1,7 C1,5.8954305 1.8954305,5 3,5 L3,19 Z M21,19 L21,5 L9,5 L9,19 L21,19 Z M13,9 L17,12 L13,15 L13,9 Z"></path></svg> Movies
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-7 profile-lists middlecol">
					<div class="wo_my_pages">
						<div class="my_pages_header row" style="margin: 0px 0px 20px;">
							<ul class="pull-left">
								<li class="active"><a href="https://biztime.com.vn/pages" data-ajax="?link1=pages">Trang</a></li>
								<li><a href="https://biztime.com.vn/suggested-pages" data-ajax="?link1=suggested-pages">Đề xuất trang</a></li>
							</ul>
							<span class="btn btn-success pull-right" title="Tạo">
								<a href="https://biztime.com.vn/create-page" data-ajax="?link1=create-page"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></a>
							</span>
						</div>

						<div>
							<h5 class="search-filter-center-text empty_state"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-flag"><path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path><line x1="4" y1="22" x2="4" y2="15"></line></svg> Chưa có trang nào</h5>				<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="sidebar-conatnier col-md-3 rightcol sidebar_fixed no-padding-left" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

					<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
						<div class="sidebar">
							<!-- Stories -->
							<ul class="list-group sun_mobi_stories_hide">
								<li class="sidebar-title-back" contenteditable="false">Khoảnh khắc</li>
								<div class="user-status-home">
									<ul class="status-list" id="sun_status">
										<li class="create_new">
											<a href="https://biztime.com.vn/status/create/" data-ajax="?link1=create-status" title="Create new story">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z"></path></svg>
												<img src="https://biztime.com.vn/upload/photos/2019/04/thRSBWIi4skY3jCmKQS1_avatar.jpg?cache=0" alt="Onl Hero">
											</a>
										</li>
									</ul>
								</div>
							</ul>

							<!-- Trending -->
							<ul class="list-group trending">
								<li class="sidebar-title-back" contenteditable="false">Trending !</li>
								<li class="list-group-item sun_htag" dir="auto">
									<a href="https://biztime.com.vn/hashtag/biztime" data-ajax="?link1=hashtag&amp;hash=biztime">
										<span class="htag_top"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16,6L18.29,8.29L13.41,13.17L9.41,9.17L2,16.59L3.41,18L9.41,12L13.41,16L19.71,9.71L22,12V6H16Z"></path></svg> #biztime</span>
										<span class="htag_bottom">11 bài đăng</span>
									</a>
								</li>
								<li class="list-group-item sun_htag" dir="auto">
									<a href="https://biztime.com.vn/hashtag/cliphay" data-ajax="?link1=hashtag&amp;hash=cliphay">
										<span class="htag_top"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16,6L18.29,8.29L13.41,13.17L9.41,9.17L2,16.59L3.41,18L9.41,12L13.41,16L19.71,9.71L22,12V6H16Z"></path></svg> #cliphay</span>
										<span class="htag_bottom">7 bài đăng</span>
									</a>
								</li>
								<li class="list-group-item sun_htag" dir="auto">
									<a href="https://biztime.com.vn/hashtag/mạng" data-ajax="?link1=hashtag&amp;hash=mạng">
										<span class="htag_top"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16,6L18.29,8.29L13.41,13.17L9.41,9.17L2,16.59L3.41,18L9.41,12L13.41,16L19.71,9.71L22,12V6H16Z"></path></svg> #mạng</span>
										<span class="htag_bottom">5 bài đăng</span>
									</a>
								</li>
								<li class="list-group-item sun_htag" dir="auto">
									<a href="https://biztime.com.vn/hashtag/facebook" data-ajax="?link1=hashtag&amp;hash=facebook">
										<span class="htag_top"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16,6L18.29,8.29L13.41,13.17L9.41,9.17L2,16.59L3.41,18L9.41,12L13.41,16L19.71,9.71L22,12V6H16Z"></path></svg> #facebook</span>
										<span class="htag_bottom">3 bài đăng</span>
									</a>
								</li>
								<li class="list-group-item sun_htag" dir="auto">
									<a href="https://biztime.com.vn/hashtag/nhật" data-ajax="?link1=hashtag&amp;hash=nhật">
										<span class="htag_top"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16,6L18.29,8.29L13.41,13.17L9.41,9.17L2,16.59L3.41,18L9.41,12L13.41,16L19.71,9.71L22,12V6H16Z"></path></svg> #nhật</span>
										<span class="htag_bottom">2 bài đăng</span>
									</a>
								</li>
								<div class="clear"></div>
							</ul>

							<!-- Pro Users -->
							<ul class="list-group">
								<li class="text-muted sidebar-title-back" contenteditable="false">Thành viên nổi bật</li>
								<ul class="list-inline wo_pro_users">
									<li>
										<a class="user" href="https://biztime.com.vn/hanbabe" data-ajax="?link1=timeline&amp;u=hanbabe">
											<img alt="Hân Hân" src="https://biztime.com.vn/upload/photos/2018/12/XjboVszbVjtsJQRYOAAV_02_eaad95e001832de5138cb2ed1bda2d87_avatar.jpg?cache=0">
											<span title="Hân Hân">Hân Hân</span>
										</a>
									</li>
									<li>
										<a class="user" href="https://biztime.com.vn/khongten" data-ajax="?link1=timeline&amp;u=khongten">
											<img alt="Mỹ Hạnh Trần" src="https://biztime.com.vn/upload/photos/2018/11/tzLOzYXoLQtXJwLV7JXE_11_dd6428ed7ac3de9a0685ccbc3e78f055_avatar.jpg?cache=0">
											<span title="Mỹ Hạnh Trần">Mỹ Hạnh Trần</span>
										</a>
									</li>
									<li>
										<a class="user" href="https://biztime.com.vn/kythuat" data-ajax="?link1=timeline&amp;u=kythuat">
											<img alt="Hello Team" src="https://biztime.com.vn/upload/photos/2018/11/TsAkbycldhsNsR9E14rC_15_5e5fcf1ce88f683b4a52cc1194a46a24_avatar.jpg?cache=0">
											<span title="Hello Team">Hello Team</span>
										</a>
									</li>
									<li>
										<a class="user" href="https://biztime.com.vn/solam" data-ajax="?link1=timeline&amp;u=solam">
											<img alt="SoLamKha Sophi" src="https://biztime.com.vn/upload/photos/2019/03/Y4fqnQVhpesGPbv5vDY8_06_27c83a443d8badbb167fcfc81cc98c07_avatar.jpg?cache=1551865491">
											<span title="SoLamKha Sophi">SoLamKha Sophi</span>
										</a>
									</li>
									<li>
										<a class="user" href="https://biztime.com.vn/mailinh" data-ajax="?link1=timeline&amp;u=mailinh">
											<img alt="Mai Linh" src="https://biztime.com.vn/upload/photos/2018/11/Nwg2tsZv9d9GJYcpjJw8_07_caae6ee806d7f451c0007f0dc0d2215a_avatar.JPG?cache=1541606036">
											<span title="Mai Linh">Mai Linh</span>
										</a>
									</li>
									<li class="put_me_here">
										<a class="user" href="https://biztime.com.vn/go-pro">
											<span class="pmh_add"><svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 24 24"><path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg></span>
											<span>Put Me Here</span>
										</a>
									</li>
								</ul>
							</ul>

							<!-- Promoted Page -->
							<!-- Birthday -->
							<!-- People You May Know -->
							<ul class="list-group" id="sidebar-user-list-container">
								<li class="text-muted sidebar-title-back" contenteditable="false">
									Những người bạn có thể biết					<span onclick="Wo_ReloadSideBarUsers();" class="pull-right refresh"><i class="fa fa-repeat progress-icon" data-icon="repeat"></i></span>
								</li>
								<li>
									<div class="sidebar-users-may-know-container">
										<div class="wo_sidebar_users">
											<div class="avatar pull-left">
												<a href="https://biztime.com.vn/PhuongTan" data-ajax="?link1=timeline&amp;u=PhuongTan"><img src="https://biztime.com.vn/upload/photos/d-avatar.jpg?cache=0" alt="Phương Tân"></a>
											</div>
											<div class="info_prt">
												<span class="user-popover" data-id="654" data-type="user">
													<a href="https://biztime.com.vn/PhuongTan" data-ajax="?link1=timeline&amp;u=PhuongTan" class="wo_user_link_name">
														<span class="user-name" title="Phương Tân">Phương Tân</span>
													</a>
												</span>
												<div class="user-follow-button">
													<span id="Follow-654">
														<button type="button" onclick="Wo_RegisterFollow(654)" class="btn btn-default btn-sm wo_follow_btn" id="wo_useract_btn">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
															<span class="button-text"> Thêm bạn bè</span>
														</button>
													</span>
												</div>
											</div>
										</div><div class="wo_sidebar_users">
											<div class="avatar pull-left">
												<a href="https://biztime.com.vn/Tonypham" data-ajax="?link1=timeline&amp;u=Tonypham"><img src="https://biztime.com.vn/upload/photos/2018/11/YgzxsaAHberMNaEW3DlH_avatar.jpg?cache=0" alt="Phạm Thư"></a>
											</div>
											<div class="info_prt">
												<span class="user-popover" data-id="662" data-type="user">
													<a href="https://biztime.com.vn/Tonypham" data-ajax="?link1=timeline&amp;u=Tonypham" class="wo_user_link_name">
														<span class="user-name" title="Phạm Thư">Phạm Thư</span>
													</a>
												</span>
												<div class="user-follow-button">
													<span id="Follow-662">
														<button type="button" onclick="Wo_RegisterFollow(662)" class="btn btn-default btn-sm wo_follow_btn" id="wo_useract_btn">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
															<span class="button-text"> Thêm bạn bè</span>
														</button>
													</span>
												</div>
											</div>
										</div><div class="wo_sidebar_users">
											<div class="avatar pull-left">
												<a href="https://biztime.com.vn/phungtran" data-ajax="?link1=timeline&amp;u=phungtran"><img src="https://biztime.com.vn/upload/photos/2019/04/nuMQxpiMjYPUAf7gvYus_avatar.jpg?cache=0" alt="Trần Phụng"></a>
											</div>
											<div class="info_prt">
												<span class="user-popover" data-id="1059" data-type="user">
													<a href="https://biztime.com.vn/phungtran" data-ajax="?link1=timeline&amp;u=phungtran" class="wo_user_link_name">
														<span class="user-name" title="Trần Phụng">Trần Phụng</span>
													</a>
												</span>
												<div class="user-follow-button">
													<span id="Follow-1059">
														<button type="button" onclick="Wo_RegisterFollow(1059)" class="btn btn-default btn-sm wo_follow_btn" id="wo_useract_btn">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
															<span class="button-text"> Thêm bạn bè</span>
														</button>
													</span>
												</div>
											</div>
										</div><div class="wo_sidebar_users">
											<div class="avatar pull-left">
												<a href="https://biztime.com.vn/Tantan" data-ajax="?link1=timeline&amp;u=Tantan"><img src="https://biztime.com.vn/upload/photos/d-avatar.jpg?cache=0" alt="Tantan"></a>
											</div>
											<div class="info_prt">
												<span class="user-popover" data-id="1826" data-type="user">
													<a href="https://biztime.com.vn/Tantan" data-ajax="?link1=timeline&amp;u=Tantan" class="wo_user_link_name">
														<span class="user-name" title="Tantan">Tantan</span>
													</a>
												</span>
												<div class="user-follow-button">
													<span id="Follow-1826">
														<button type="button" onclick="Wo_RegisterFollow(1826)" class="btn btn-default btn-sm wo_follow_btn" id="wo_useract_btn">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
															<span class="button-text"> Thêm bạn bè</span>
														</button>
													</span>
												</div>
											</div>
										</div><div class="wo_sidebar_users">
											<div class="avatar pull-left">
												<a href="https://biztime.com.vn/ThanhNguyen" data-ajax="?link1=timeline&amp;u=ThanhNguyen"><img src="https://biztime.com.vn/upload/photos/2018/11/UXLPyvryJyaH5OOR27nf_06_05c57b24ed587887be014cbef2861560_avatar.png?cache=0" alt="Thành Nguyễn"></a>
											</div>
											<div class="info_prt">
												<span class="user-popover" data-id="603" data-type="user">
													<a href="https://biztime.com.vn/ThanhNguyen" data-ajax="?link1=timeline&amp;u=ThanhNguyen" class="wo_user_link_name">
														<span class="user-name" title="Thành Nguyễn">Thành Nguyễn</span>
													</a>
												</span>
												<div class="user-follow-button">
													<span id="Follow-603">
														<button type="button" onclick="Wo_RegisterFollow(603)" class="btn btn-default btn-sm wo_follow_btn" id="wo_useract_btn">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
															<span class="button-text"> Thêm bạn bè</span>
														</button>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="clear"></div>
								</li>
							</ul>
							<ul class="list-group">
								<li class="list-group-item sidebar-title-back" contenteditable="false">Mời Bạn Bè</li>
								<li>
									<form action="#" method="post" class="invite-user-form">
										<div class="invite-user-form-alert"></div>
										<div class="invite-user-combine">
											<input type="text" name="email" placeholder="E-mail" class="form-control">
											<button class="btn btn-main btn-sm" title="Gởi Lời Mời">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
											</button>
										</div>
										<div class="clear"></div>
									</form>
								</li>
							</ul>
							<!-- Pages You May Like -->
							<ul class="list-group" id="sidebar-page-list-container">
								<li class="text-muted sidebar-title-back" contenteditable="false">
									Trang bạn có thể sẽ thích					<span onclick="Wo_ReloadSideBarPages();" class="pull-right refresh"><i class="fa fa-repeat progress-icon" data-icon="repeat"></i></span>
								</li>
								<div class="sidebar-pages-may-know-container">
									<div class="sidebar-page-data wo_sidebar_pages" data-page-id="1">
										<div class="page_middle">
											<div class="avatar pull-left">
												<img id="updateImage-1" alt="Hội đam mê Du Lịch Và Hài Hước Profile Picture" src="https://biztime.com.vn/upload/photos/2018/09/q3DWJVTetEjmndN9FJ5N_05_338f02acad867c7d58f44ee725a83cf2_avatar.jpg">
											</div>
											<div class="info">
												<div class="title">
													<span class="user-popover" data-id="1" data-type="page">
														<a id="user-full-name" href="https://biztime.com.vn/Hadulichhanquoc" data-ajax="?link1=timeline&amp;u=Hadulichhanquoc">Hội đam mê Du Lịch Và Hài Hước</a>
													</span>
												</div>
												<span>Du lịch và Sự kiện</span>
											</div>
										</div>
										<div class="cardheader">
											<img src="https://biztime.com.vn/upload/photos/2018/09/USNXWHSmbQtdN5R78oqJ_05_4f1d490e3aa10564889eaf1ecbc3d7a2_cover.jpg" id="cover-image" alt="Hội đam mê Du Lịch Và Hài Hước Cover Image">
											<div class="user-follow-button">
												<span class="page_catg">74 người thích trang này</span>
												<span id="like-1">
													<button type="button" onclick="Wo_RegisterPageLike(1)" class="btn btn-default btn-sm wo_follow_btn" id="wo_useract_btn">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
														<span class="button-text"> Thích</span>
													</button>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="clear"></div>
							</ul>

							<!-- Group Suggestion -->
							<ul class="list-group" id="sidebar-group-list-container">
								<li class="text-muted sidebar-title-back" contenteditable="false">
									Chapter đề xuất					<span onclick="Wo_ReloadSideBarGroups();" class="pull-right refresh"><i class="fa fa-repeat progress-icon" data-icon="repeat"></i></span>
								</li>
								<div class="sidebar_sugg_groups slick-initialized slick-slider slick-dotted">
									<div class="slick-list">
										<div class="slick-track" style="opacity: 1; width: 25000px; transform: translate3d(-6px, 0px, 0px);">
											<div class="wo_sidebar_groups slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00">
												<div class="group-header">
													<h3 class="user-name pull-left" title="Việc Làm - Tuyển Dụn">
														<a href="https://biztime.com.vn/vieclamtuyendung" data-ajax="?link1=timeline&amp;u=vieclamtuyendung" tabindex="0">Việc Làm - Tuyển Dụn</a>
													</h3>
													<div class="pull-right group user-follow-btn">
														<div class="user-follow-button">
															<span id="join-11">
																<button type="button" onclick="Wo_RegisterGroupJoin(11, 0)" class="btn btn-default btn-sm wo_follow_btn" id="wo_useract_btn" tabindex="0">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
																	<span class="button-text"> Tham gia</span>
																</button>
															</span>
														</div>
													</div>
												</div>
												<div class="group-middle">
													<img src="https://biztime.com.vn/upload/photos/d-cover.jpg  " id="cover-image" alt="Việc Làm - Tuyển Dụn Cover Image">
												</div>
												<div class="group-bottom">
													<div class="user-lastseen">14 Thành viên</div>
													<div class="avatar pull-right">
														<img src="https://biztime.com.vn/upload/photos/d-group.jpg " alt="Việc Làm - Tuyển Dụn Profile Picture">
													</div>
												</div>
											</div><div class="wo_sidebar_groups slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01">
												<div class="group-header">
													<h3 class="user-name pull-left" title="Tâm Sự Eva">
														<a href="https://biztime.com.vn/tamsueva" data-ajax="?link1=timeline&amp;u=tamsueva" tabindex="-1">Tâm Sự Eva</a>
													</h3>
													<div class="pull-right group user-follow-btn">
														<div class="user-follow-button">
															<span id="join-19">
																<button type="button" onclick="Wo_RegisterGroupJoin(19, 0)" class="btn btn-default btn-sm wo_follow_btn" id="wo_useract_btn" tabindex="-1">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
																	<span class="button-text"> Tham gia</span>
																</button>
															</span>
														</div>
													</div>
												</div>
												<div class="group-middle">
													<img src="https://biztime.com.vn/upload/photos/d-cover.jpg  " id="cover-image" alt="Tâm Sự Eva Cover Image">
												</div>
												<div class="group-bottom">
													<div class="user-lastseen">35 Thành viên</div>
													<div class="avatar pull-right">
														<img src="https://biztime.com.vn/upload/photos/2019/04/VYPcmZopBrJKaQ4npFCh_18_e5c4ee20b95cc3f3b80db5ab6d1cd36b_avatar.png" alt="Tâm Sự Eva Profile Picture">
													</div>
												</div>
											</div><div class="wo_sidebar_groups slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02">
												<div class="group-header">
													<h3 class="user-name pull-left" title="Hội đam mê mô hình">
														<a href="https://biztime.com.vn/Mohinh" data-ajax="?link1=timeline&amp;u=Mohinh" tabindex="-1">Hội đam mê mô hình</a>
													</h3>
													<div class="pull-right group user-follow-btn">
														<div class="user-follow-button">
															<span id="join-21">
																<button type="button" onclick="Wo_RegisterGroupJoin(21, 0)" class="btn btn-default btn-sm wo_follow_btn" id="wo_useract_btn" tabindex="-1">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
																	<span class="button-text"> Tham gia</span>
																</button>
															</span>
														</div>
													</div>
												</div>
												<div class="group-middle">
													<img src="https://biztime.com.vn/upload/photos/d-cover.jpg  " id="cover-image" alt="Hội đam mê mô hình Cover Image">
												</div>
												<div class="group-bottom">
													<div class="user-lastseen">1 Thành viên</div>
													<div class="avatar pull-right">
														<img src="https://biztime.com.vn/upload/photos/2019/04/YwBBHykO5QVTEsznf3lx_19_808140faae2fb4e0778c771d034a5cee_avatar.jpg" alt="Hội đam mê mô hình Profile Picture">
													</div>
												</div>
											</div><div class="wo_sidebar_groups slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide03" aria-describedby="slick-slide-control03">
												<div class="group-header">
													<h3 class="user-name pull-left" title="Tính năng gì đây">
														<a href="https://biztime.com.vn/tinhnanggidayvayad" data-ajax="?link1=timeline&amp;u=tinhnanggidayvayad" tabindex="-1">Tính năng gì đây</a>
													</h3>
													<div class="pull-right group user-follow-btn">
														<div class="user-follow-button">
															<span id="join-10">
																<button type="button" onclick="Wo_RegisterGroupJoin(10, 0)" class="btn btn-default btn-sm wo_follow_btn" id="wo_useract_btn" tabindex="-1">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
																	<span class="button-text"> Tham gia</span>
																</button>
															</span>
														</div>
													</div>
												</div>
												<div class="group-middle">
													<img src="https://biztime.com.vn/upload/photos/d-cover.jpg  " id="cover-image" alt="Tính năng gì đây Cover Image">
												</div>
												<div class="group-bottom">
													<div class="user-lastseen">9 Thành viên</div>
													<div class="avatar pull-right">
														<img src="https://biztime.com.vn/upload/photos/d-group.jpg " alt="Tính năng gì đây Profile Picture">
													</div>
												</div>
											</div><div class="wo_sidebar_groups slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide04" aria-describedby="slick-slide-control04">
												<div class="group-header">
													<h3 class="user-name pull-left" title="factory">
														<a href="https://biztime.com.vn/factory" data-ajax="?link1=timeline&amp;u=factory" tabindex="-1">factory</a>
													</h3>
													<div class="pull-right group user-follow-btn">
														<div class="user-follow-button">
															<span id="join-9">
																<button type="button" onclick="Wo_RegisterGroupJoin(9, 0)" class="btn btn-default btn-sm wo_follow_btn" id="wo_useract_btn" tabindex="-1">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
																	<span class="button-text"> Tham gia</span>
																</button>
															</span>
														</div>
													</div>
												</div>
												<div class="group-middle">
													<img src="https://biztime.com.vn/upload/photos/d-cover.jpg  " id="cover-image" alt="factory Cover Image">
												</div>
												<div class="group-bottom">
													<div class="user-lastseen">9 Thành viên</div>
													<div class="avatar pull-right">
														<img src="https://biztime.com.vn/upload/photos/d-group.jpg " alt="factory Profile Picture">
													</div>
												</div>
											</div>
										</div>
									</div>                <ul class="slick-dots" style="" role="tablist"><li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 5" tabindex="0" aria-selected="true">1</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 5" tabindex="-1">2</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02" aria-label="3 of 5" tabindex="-1">3</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control03" aria-controls="slick-slide03" aria-label="4 of 5" tabindex="-1">4</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control04" aria-controls="slick-slide04" aria-label="5 of 5" tabindex="-1">5</button></li></ul>
								</div>
							</ul>

							<!-- Sidebar Ad -->


							<div class="page-margin">
								<div class="footer-wrapper sidebar">
									<div class="pull-right">
										<div class="lang_selct dropup pull-right">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												<svg fill="#7a7a7a" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="feather feather-translate" style="margin-top: -3px;width: 15px;height: 15px;"><path d="M12.87,15.07L10.33,12.56L10.36,12.53C12.1,10.59 13.34,8.36 14.07,6H17V4H10V2H8V4H1V6H12.17C11.5,7.92 10.44,9.75 9,11.35C8.07,10.32 7.3,9.19 6.69,8H4.69C5.42,9.63 6.42,11.17 7.67,12.56L2.58,17.58L4,19L9,14L12.11,17.11L12.87,15.07M18.5,10H16.5L12,22H14L15.12,19H19.87L21,22H23L18.5,10M15.88,17L17.5,12.67L19.12,17H15.88Z"></path></svg>
												Ngôn ngữ
											</a>
											<ul class="dropdown-menu sun_lang_select_menu">
												<li class="language_select"><a href="?lang=english" rel="nofollow" class="English">English<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/united-states.svg"></span> </a></li>
												<li class="language_select"><a href="?lang=arabic" rel="nofollow" class="Arabic">Arabic<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/saudi-arabia.svg"></span> </a></li>
												<li class="language_select"><a href="?lang=dutch" rel="nofollow" class="Dutch">Dutch<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/netherlands.svg"></span> </a></li>
												<li class="language_select"><a href="?lang=french" rel="nofollow" class="French">French<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/france.svg"></span> </a></li>
												<li class="language_select"><a href="?lang=german" rel="nofollow" class="German">German<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/germany.svg"></span> </a></li>
												<li class="language_select"><a href="?lang=italian" rel="nofollow" class="Italian">Italian<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/italy.svg"></span> </a></li>
												<li class="language_select"><a href="?lang=portuguese" rel="nofollow" class="Portuguese">Portuguese<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/portugal.svg"></span> </a></li>
												<li class="language_select"><a href="?lang=russian" rel="nofollow" class="Russian">Russian<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/russia.svg"></span> </a></li>
												<li class="language_select"><a href="?lang=spanish" rel="nofollow" class="Spanish">Spanish<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/spain.svg"></span> </a></li>
												<li class="language_select"><a href="?lang=turkish" rel="nofollow" class="Turkish">Turkish<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/turkey.svg"></span> </a></li>
												<li class="language_select"><a href="?lang=vietnamese" rel="nofollow" class="Vietnamese">Vietnamese</a></li>
											</ul>
										</div>
									</div>
									<div class="footer-powered">
										<p>
											© 2019 Mạng Xã Hội Việt Nam
										</p>
									</div>
									<ul class="list-inline pull-left">
										<li><a data-ajax="?link1=terms&amp;type=about-us" href="https://biztime.com.vn/terms/about-us">Giới thiệu</a></li>
										<li><a href="https://biztime.com.vn/blogs">Bản Tin</a></li>
										<li><a data-ajax="?link1=contact-us" href="https://biztime.com.vn/contact-us">Liên hệ</a></li>
										<li>
											<div class="dropdown dropup sun_foot_drop_menu">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
													Thêm <span class="caret"></span>
												</a>
												<ul class="dropdown-menu dropdown-menu-right" role="menu" style="width: auto; min-width: 100px; font-size: 11px;">
													<li><a data-ajax="?link1=terms&amp;type=privacy-policy" href="https://biztime.com.vn/terms/privacy-policy">Bảo mật</a></li>
													<li><a data-ajax="?link1=terms&amp;type=terms" href="https://biztime.com.vn/terms/terms">Điều khoản</a></li>
													<li><a href="https://biztime.com.vn/site-pages/faq">FAQ</a></li>
													<li><a href="https://biztime.com.vn/site-pages/biz">Biz</a></li>
													<li><a href="https://biztime.com.vn/site-pages/app">Android &amp; iOS</a></li>
												</ul>
											</div>
										</li>
									</ul>
									<div class="clear"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<script style="">
					function Wo_ReloadSideBarGroups() {
						Wo_progressIconLoader($('#sidebar-group-list-container').find('.refresh'));
						$.get(Wo_Ajax_Requests_File(), {
							f: 'update_sidebar_groups'
						}, function (data) {
							if (data.status == 200) {
								$('.sidebar_sugg_groups').removeClass().addClass('sidebar_sugg_groups').html(data.html);
								$('.sidebar_sugg_groups').slick({
									slidesToShow: 1,
									arrows: false,
									dots: true,
									draggable: false,
									infinite: false,
									variableWidth: true,
								});
							}
							Wo_progressIconLoader($('#sidebar-group-list-container').find('.refresh'));
						});
					};

					(function () {
						function scrollHorizontally(e) {
							e = window.event || e;
							var delta = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));
							document.getElementById('sun_status').scrollLeft -= (delta * 40); // Multiplied by 40
							e.preventDefault();
						}
						if (document.getElementById('sun_status').addEventListener) {
							// IE9, Chrome, Safari, Opera
							document.getElementById('sun_status').addEventListener("mousewheel", scrollHorizontally, false);
							// Firefox
							document.getElementById('sun_status').addEventListener("DOMMouseScroll", scrollHorizontally, false);
						} else {
							// IE 6/7/8
							document.getElementById('sun_status').attachEvent("onmousewheel", scrollHorizontally);
						}
					})();

					$(document).ready(function () {
						$('.sidebar_sugg_groups').slick({
							slidesToShow: 1,
							arrows: false,
							dots: true,
							draggable: false,
							infinite: false,
							variableWidth: true,
						});
					});

					$(document).ready(function () {
						$('.sidebar_fixed').theiaStickySidebar({ additionalMarginTop: 65 });
					});
					$(function () {
						$('form.invite-user-form').ajaxForm({
							url: Wo_Ajax_Requests_File() + '?f=invite_user',
							beforeSend: function () {
								Wo_progressIconLoader($('form.invite-user-form').find('button'));
							},
							success: function (data) {
								if (data.status == 200) {
									$('.invite-user-form-alert').html('<div class="alert alert-success">' + data.message + '</div>');
									$('.alert-success').fadeIn(300);
								} else {
									var errors = data.errors.join("<br>");
									$('.invite-user-form-alert').html('<div class="alert alert-danger">' + errors + '</div>');
									$('.alert-danger').fadeIn(300);
								}
								Wo_progressIconLoader($('form.invite-user-form').find('button'));
							}
						});
					});
				</script>
			</div>
		</div>
	</div>
	<footer>
		<div class="page-margin">
			<div class="footer-wrapper long_foooter">
				<hr>
				<div class="footer-powered pull-left">
					<p>
						© 2019 Mạng Xã Hội Việt Nam
					</p>
				</div>
				<div class="lang_selct dropup pull-right">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<svg fill="#7a7a7a" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="feather feather-translate" style="margin-top: -3px;width: 15px;height: 15px;"><path d="M12.87,15.07L10.33,12.56L10.36,12.53C12.1,10.59 13.34,8.36 14.07,6H17V4H10V2H8V4H1V6H12.17C11.5,7.92 10.44,9.75 9,11.35C8.07,10.32 7.3,9.19 6.69,8H4.69C5.42,9.63 6.42,11.17 7.67,12.56L2.58,17.58L4,19L9,14L12.11,17.11L12.87,15.07M18.5,10H16.5L12,22H14L15.12,19H19.87L21,22H23L18.5,10M15.88,17L17.5,12.67L19.12,17H15.88Z"></path></svg>
						Ngôn ngữ
					</a>
					<ul class="dropdown-menu sun_lang_select_menu">
						<li class="language_select"><a href="?lang=english" rel="nofollow" class="English">English<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/united-states.svg"></span> </a></li>
						<li class="language_select"><a href="?lang=arabic" rel="nofollow" class="Arabic">Arabic<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/saudi-arabia.svg"></span> </a></li>
						<li class="language_select"><a href="?lang=dutch" rel="nofollow" class="Dutch">Dutch<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/netherlands.svg"></span> </a></li>
						<li class="language_select"><a href="?lang=french" rel="nofollow" class="French">French<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/france.svg"></span> </a></li>
						<li class="language_select"><a href="?lang=german" rel="nofollow" class="German">German<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/germany.svg"></span> </a></li>
						<li class="language_select"><a href="?lang=italian" rel="nofollow" class="Italian">Italian<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/italy.svg"></span> </a></li>
						<li class="language_select"><a href="?lang=portuguese" rel="nofollow" class="Portuguese">Portuguese<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/portugal.svg"></span> </a></li>
						<li class="language_select"><a href="?lang=russian" rel="nofollow" class="Russian">Russian<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/russia.svg"></span> </a></li>
						<li class="language_select"><a href="?lang=spanish" rel="nofollow" class="Spanish">Spanish<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/spain.svg"></span> </a></li>
						<li class="language_select"><a href="?lang=turkish" rel="nofollow" class="Turkish">Turkish<span class="language_initial"><img src="https://biztime.com.vn/themes/biztime-s/img/flags/turkey.svg"></span> </a></li>
						<li class="language_select"><a href="?lang=vietnamese" rel="nofollow" class="Vietnamese">Vietnamese</a></li>
					</ul>
				</div>
				<div class="clear"></div>
				<ul class="list-inline text-center">
					<li><a href="https://biztime.com.vn">Timeline</a></li>
					<li><a href="https://biztime.com.vn/terms/about-us">Giới thiệu</a></li>
					<li><a href="https://biztime.com.vn/contact-us">Liên hệ</a></li>
					<li><a href="https://biztime.com.vn/terms/privacy-policy">Bảo mật</a></li>
					<li><a href="https://biztime.com.vn/terms/terms">Điều khoản</a></li>
					<li><a href="https://biztime.com.vn/blogs">Bản Tin</a></li>
					<li>
						<div class="dropdown dropup">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								Thêm <span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu" style="width: auto; min-width: 100px; font-size: 11px;">
								<li><a href="https://biztime.com.vn/site-pages/faq">FAQ</a></li>
								<li><a href="https://biztime.com.vn/site-pages/biz">Biz</a></li>
								<li><a href="https://biztime.com.vn/site-pages/app">Android &amp; iOS</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</footer>
	<div class="second-footer">
	</div>
	<div class="extra">
		<div class="chat-all-container">
			<div class="chat-tab"></div>
			<div class="chat-container full" style="">
				<div class="online-toggle pointer" onclick="Wo_OpenChatUsersTab();">
					Chat
				</div>
				<div class="chat-status">
					<span class="pointer" style="margin-right: 5px;" onclick="Wo_CreateGChat(event)">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M13,13C11,13 7,14 7,16V18H19V16C19,14 15,13 13,13M19.62,13.16C20.45,13.88 21,14.82 21,16V18H24V16C24,14.46 21.63,13.5 19.62,13.16M13,11A3,3 0 0,0 16,8A3,3 0 0,0 13,5A3,3 0 0,0 10,8A3,3 0 0,0 13,11M18,11A3,3 0 0,0 21,8A3,3 0 0,0 18,5C17.68,5 17.37,5.05 17.08,5.14C17.65,5.95 18,6.94 18,8C18,9.06 17.65,10.04 17.08,10.85C17.37,10.95 17.68,11 18,11M8,10H5V7H3V10H0V12H3V15H5V12H8V10Z"></path></svg>
					</span>
					<div class="dropdown" style="display: inline;">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg>
						<ul class="dropdown-menu dropdown-menu-right" role="menu" style="min-width: 80px; font-size: 12px;">
							<li><a href="#" onclick="Wo_UpdateStatus('online',event);"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> Online</a></li>
							<li><a href="#" onclick="Wo_UpdateStatus('offline',event);"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg> Offline</a></li>
						</ul>
					</div>
				</div>

				<div class="search">
					<input type="text" class="form-control search-users-chat" placeholder="Tìm một ai đó" onkeyup="Wo_ChatSearchUsers(this.value);">
				</div>

				<div class="online-content-toggler" style="display:block">
					<div class="chat-opacity ">
						<div class="text-center">
							<h5 class="empty_state">
								<span>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
									Bạn đang offline
								</span>
							</h5>
						</div>
					</div>

					<ul class="nav nav-tabs wo_chat_tabs">
						<li class="active">
							<a data-toggle="tab" data-target="#users-chat" href="#" data-placement="bottom" title="Thành viên">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path></svg>
								<span class="count-online-users">0</span>
							</a>
						</li>

						<li>
							<a data-toggle="tab" data-target="#groups-chat" href="#" data-placement="bottom" title="Chapter">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,6A3,3 0 0,0 9,9A3,3 0 0,0 12,12A3,3 0 0,0 15,9A3,3 0 0,0 12,6M6,8.17A2.5,2.5 0 0,0 3.5,10.67A2.5,2.5 0 0,0 6,13.17C6.88,13.17 7.65,12.71 8.09,12.03C7.42,11.18 7,10.15 7,9C7,8.8 7,8.6 7.04,8.4C6.72,8.25 6.37,8.17 6,8.17M18,8.17C17.63,8.17 17.28,8.25 16.96,8.4C17,8.6 17,8.8 17,9C17,10.15 16.58,11.18 15.91,12.03C16.35,12.71 17.12,13.17 18,13.17A2.5,2.5 0 0,0 20.5,10.67A2.5,2.5 0 0,0 18,8.17M12,14C10,14 6,15 6,17V19H18V17C18,15 14,14 12,14M4.67,14.97C3,15.26 1,16.04 1,17.33V19H4V17C4,16.22 4.29,15.53 4.67,14.97M19.33,14.97C19.71,15.53 20,16.22 20,17V19H23V17.33C23,16.04 21,15.26 19.33,14.97Z"></path></svg>
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div id="users-chat" class="tab-pane fade in active">
							<div class="online-users"></div>
							<div class="offline-users">
								<div class="recipient-chat-user" id="online_4">
									<div class="user-info" onclick="Wo_OpenChatTab(4);" title="2 ngày trước">
										<div class="pull-right" style="margin-top:8px;">

											<svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 24 24"><path fill="#CDCDCD" d="M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg>
											<span class="chat-loading-icon"></span>
										</div>
										<span class="chat-user-text" id="chat-tab-id">
											<div class="avatar pull-left">
												<span class="new-message-alert hidden">0</span>
												<img src="https://biztime.com.vn/upload/photos/2018/03/TmBdnCebRgrnsaMQj7KL_08_9e1219b7732f811690304e81b113bda8_avatar.jpeg?cache=0" alt="https://biztime.com.vn/upload/photos/2018/03/TmBdnCebRgrnsaMQj7KL_08_9e1219b7732f811690304e81b113bda8_avatar.jpeg?cache=0 Profile Picture">
											</div>
											<span class="wo_cen_onuser">Xin Chào</span>
										</span>
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div id="groups-chat" class="tab-pane fade groups chat_groups">
						</div>
					</div>
				</div>

				<!--Activities -->
				<div class="chat_acts">
					<ul class="list-group activity-container sun_side_activities">
						<li class="text-muted sidebar-title-back" contenteditable="false">
							Hoạt động đang diễn ra											<p class="pull-right mb0">
								<span onclick="Wo_GetMoreActivities();" title="Tải thêm hoạt động" class="pull-right refresh"><i class="fa fa-repeat progress-icon" data-icon="repeat"></i></span>
							</p>
						</li>
						<li class="activities-wrapper" id="activities-wrapper">
							<div class="wo_sidebar_activity activity " data-activity-id="51178">
								<span class="sun_act_icon friend">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M15,14C12.33,14 7,15.33 7,18V20H23V18C23,15.33 17.67,14 15,14M6,10V7H4V10H1V12H4V15H6V12H9V10M15,12A4,4 0 0,0 19,8A4,4 0 0,0 15,4A4,4 0 0,0 11,8A4,4 0 0,0 15,12Z"></path></svg>
								</span>
								<span class="sun_act_msg">
									<a class="first_usr_nm" href="https://biztime.com.vn/xinchao " data-ajax="?link1=timeline&amp;u=xinchao">
										Xin Chào
									</a>
									trở thành bạn với <a class="second-user-color" data-ajax="?link1=timeline&amp;u=khuyenle" href="https://biztime.com.vn/khuyenle">Thuỷ Hương</a>		<time class="ajax-time" style="color: #8c8a8a; font-size: 11px;" title="2019-04-20T05:09:19+00:00">2 ngày trước</time>
								</span>
								<div class="clear"></div>
							</div>
						</li>
						<div class="no-activities center-text"></div>
					</ul>
				</div>

			</div>
		</div>
		<div class="modal fade" id="create_group_chat" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></span></button>
						<h4 class="modal-title">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
							Tạo Chapter Mới
						</h4>
					</div>
					<form id="insert-caht-parts" class="wo_create_chat_group">
						<div class="modal-body">
							<div id="insert-caht-alert"></div>
							<div class="form-group input-group">
								<span class="input-group-addon pointer" onclick="$('#group_chat_avatar').trigger('click');">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
								</span>
								<input type="text" class="form-control" name="group_name" placeholder="Tiêu đề">
							</div>
							<div class="w100">
								<div class="group_chat_avatar"></div>
								<div class="clear"></div>
							</div>
							<div class="form-group input-group">
								<span class="input-group-addon" id="group_chat_mbrs">0</span>
								<input type="text" class="form-control" placeholder="Nhập tên người bạn mời tham gia" onkeydown="Wo_GetGChatParticipants(this.value)">
							</div>
							<div class="form-group">
								<div class="group_chat_mbr_list"></div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="ball-pulse"><div></div><div></div><div></div></div>
							<button id="delete-all-post" type="submit" class="btn btn-main">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
								Tạo
							</button>
						</div>
						<input type="hidden" name="parts" id="chat_group_users">
						<input type="reset" id="reset" class="hidden">
						<input type="file" name="avatar" class="hidden" id="group_chat_avatar" onchange="$('.group_chat_avatar').html('<img src=\'' + window.URL.createObjectURL(this.files[0]) + '\' alt=\'Picture\'>');" accept="image/jpeg,image/png,image/gif">
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="manage_group_chat" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></span></button>
						<h4 class="modal-title">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
							Các thành viên của Chapter					(<span id="group_chat_mbrs">0</span>)
							<div class="clear"></div>
						</h4>
					</div>
					<form id="insert-caht-parts">
						<div id="insert-caht-alert"></div>
						<div class="modal-body"></div>
						<input type="hidden" name="parts" id="chat_group_users">
					</form>
				</div>
			</div>
		</div>

		<div class="modal fade sun_modal" id="edit_group_chat" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<form id="edit_chat_group_form" class="wo_edit_chat_group">
						<div class="modal-body">
							<div class="edit_grp_info_modal">
								<div class="group_chat_avatar__container" onclick="$('#edit_group_chat_avatar_').trigger('click');">
									<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M4,4H7L9,2H15L17,4H20A2,2 0 0,1 22,6V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V6A2,2 0 0,1 4,4M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9Z"></path></svg></span>
								</div>
								<input type="text" class="form-control" name="group_name" placeholder="Tiêu đề" id="edit_group_name">
								<div class="clear"></div>
							</div>
							<div id="edit_chat_group_alert"></div>
						</div>
						<div class="modal-footer">
							<div class="ball-pulse"><div></div><div></div><div></div></div>
							<button id="delete-all-post" type="submit" class="btn btn-main">Cập nhật</button>
						</div>
						<input type="hidden" id="edit_group_id" class="hidden" name="group_id">
						<input type="file" name="avatar" class="hidden" id="edit_group_chat_avatar_" onchange="change_avatar(this);" accept="image/jpeg,image/png,image/gif">
					</form>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			function change_avatar(self) {
				$('.group_chat_avatar__container').css('background-image', "url('" + window.URL.createObjectURL(self.files[0]) + "')");
			}
			function Wo_GetGChatParticipants(name) {
				if (!name) {
					return false;
				}
				$.ajax({
					url: Wo_Ajax_Requests_File(),
					type: 'GET',
					dataType: 'json',
					data: { f: 'chat', s: 'get_parts', name: name },
				})
					.done(function (data) {
						if (data.status == 200) {
							$('.group_chat_mbr_list').html(data.html);
						}
						else {
							$('.group_chat_mbr_list').html('<p class="no_participant">Không tìm thấy kết quả</p>');
						}
					})
					.fail(function () {
						console.log("error");
					})
			}

			function Wo_CreateGChat(e) {
				e.preventDefault();
				$('#create_group_chat').modal('show');
			}
			function Wo_EditGChat(e, group_id) {
				e.preventDefault();
				$.get(Wo_Ajax_Requests_File(), { f: 'chat', s: 'get_group_info', group_id: group_id }, function (data) {
					if (data.status == 200) {
						//$('#edit_group_chat_avatar').attr('src', data.group.avatar);
						$('.group_chat_avatar__container').css('background-image', "url('" + data.group.avatar + "')");
						$('#edit_group_name').val(data.group.group_name);
						$('#edit_group_id').val(data.group.group_id);
						$('#edit_group_chat').modal('show');
					}
				});
			}

			function Wo_ChatSide(id) {
				if (current_width < 700) {
					return false;
				}
				if ($('.search-users-chat').val().length > 0) {
					return false;
				}
				if ($('body').attr('sending-' + id) == 'true') {
					return false;
				}
				var chat_container = $('.chat-tab').find('.chat_main_' + id);
				var offline_users_container = $('.offline-users');
				var user_id = chat_container.find('.chat-user-id').val();
				var message_id = chat_container.find('.chat-messages-wrapper').find('.messages-wrapper:last').attr('data-message-id');
				var chat_user_tab = chat_container.find('.chat-wrapper').find('.chat-status');
				var online_users_container = $('.online-users');
				var last_id = chat_container.find('.messages-text:last').attr('data-message-id');
				var is_empty_seen = 1;
				var chat_groups = $(".chat_groups");
				var last_group = ($(".groups-list").length > 0) ? $(".groups-list").last().attr('data-chat-group') : 0;
				if (!$('.messages-text:last').find('.message-seen').is(':empty')) {
					is_empty_seen = 0;
				}
				if (typeof user_id === 'undefined') {
					user_id = 0;
				}
				if (typeof message_id === 'undefined') {
					message_id = 0;
				}
				if (typeof last_id === 'undefined') {
					last_id = 0;
				}
				var count_span = $('.count-online-users');
				$.get(Wo_Ajax_Requests_File(), { f: 'chat', s: 'chat_side', user_id: user_id, message_id: message_id, last_id: last_id, last_group: last_group }, function (data) {
					if (data.status == 200 && data.chat_groups.length > 0) {
						chat_groups.append(data.chat_groups);
					}
					if (data.status == 200) {
						count_span.html(data.count_chat);
					}
					if (data.update_group_status.length > 0) {
						if ('my_pages' != 'messages') {
							for (var i = 0; i < data.update_group_status.length; i++) {
								if ($(".chat_group_" + data.update_group_status[i]).length == 0) {
									$("[data-chat-group='" + data.update_group_status[i] + "']").find('.group-lastseen').html('<i class="fa fa-circle main" style="font-size:10px;"></i>');
								}
							}
						}
						else if ('my_pages' == 'messages') { } {
							for (var i = 0; i < data.update_group_status.length; i++) {
								if ($(".chat_group_" + data.update_group_status[i]).length == 0 && $("#messages-group-id").val() != data.update_group_status[i]) {
									$("#messages-group-" + data.update_group_status[i]).find('.group-lastseen').html('<i class="fa fa-circle main" style="font-size:10px;"></i>');
								}
							}
						}
					}
					if (data.online_users.length == 0) {
						online_users_container.html('');
					} else {
						online_users_container.html(data.online_users);
					}
					if (data.offline_users.length == 0) {
						offline_users_container.html('');
					} else {
						offline_users_container.html(data.offline_users);
					}
					if (data.chat_user_tab == 200) {
						chat_user_tab.html('active');
					} else {
						chat_user_tab.removeClass('active');
					}
					if (data.messages == 200) {
						chat_container.find('.chat-messages-wrapper').find("div[class*='message-seen']").empty();
						chat_container.find('.chat-messages-wrapper').find("div[class*='message-typing']").empty();
						chat_container.find('.chat-messages-wrapper').append(data.messages_html);
						chat_container.find('.chat-messages-wrapper').scrollTop(chat_container.find('.chat-messages-wrapper')[0].scrollHeight);
						if (data.sender == data.receiver) {
							document.getElementById('message-sound').play();
						}
						if (!$('#sendMessage').is(':focus')) {
							document.title = 'New Message | ' + document_title;
						}
					}
					if (is_empty_seen == 1 && data.can_seen == 1) {
						chat_container.find('.messages-text:last').find('.message-seen').hide().html('<i class="fa fa-check"></i> Đã xem (<span class="ajax-time" title="' + data.time + '">' + data.seen + '</span>)').fadeIn(300);
						chat_container.find('.chat-messages-wrapper').scrollTop(chat_container.find('.chat-messages-wrapper')[0].scrollHeight);
					}
					if (data.is_typing == 200) {
						chat_container.find('.messages-text:last').find('.message-typing').html('<img class="user-avatar-left" src="' + data.img + '" alt="Profile Picture"><div id="loading"> <img class="typing" src="' + data.typing + '"></div>').fadeIn(300);

						chat_container.find('.chat-messages-wrapper').scrollTop(chat_container.find('.chat-messages-wrapper')[0].scrollHeight);

					} else {
						chat_container.find('.messages-text:last').find('.message-typing').empty();
					}
					if (data.chat_color) {
						$(".chat_" + user_id).find('.online-toggle, .outgoing').css('background', data.chat_color);
						$(".chat_" + user_id).find('.outgoing p').css('color', '#fff');
						$(".chat_" + user_id).find('#color').val(data.chat_color);
						$(".chat_" + user_id).find('.select-color').css('color', data.chat_color);
					}
				});
			}

			var chat_part_array = [];

			$(function () {
				setTimeout(function () {
					Timeout();
				}, 7000);

				$(document).on('click', '.group_chat_mbr_part', function (event) {
					event.preventDefault();
					var self_id = $(this).attr('id');
					if ($.inArray(self_id, chat_part_array) == -1) {
						chat_part_array.push(self_id);
						$("#group_chat_mbrs").text(chat_part_array.length);

						$(this).fadeOut(100, function () {
							$("#chat_group_users").val(chat_part_array.join());
							$(this).remove();
						})
					}
					else {
						$(this).addClass('disabled').removeAttr('title');
					}
				});

				$('#insert-caht-parts').ajaxForm({
					url: Wo_Ajax_Requests_File() + '?f=chat&s=create_group',
					type: 'POST',
					dataType: 'json',

					beforeSend: function () {
						Wo_progressIconLoader($('#insert-caht-parts').find('button'));
						$('#insert-caht-parts').find('.modal-footer .ball-pulse').fadeIn(100);
					},
					success: function (data) {
						if (data['status'] == 200) {
							$("#create_group_chat").modal('hide');
							Wo_OpenChatTab(0, data.group_id);
							$("#insert-caht-parts").find('#reset').trigger('click');
							$(".group_chat_mbr_list").empty();
							$(".group_chat_avatar").empty();
							chat_part_array = [];
						}
						else if (data.status == 500) {
							$("#insert-caht-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
						}
						$('#insert-caht-parts').find('.modal-footer .ball-pulse').fadeOut(100);
					}
				});


				$('#edit_chat_group_form').ajaxForm({
					url: Wo_Ajax_Requests_File() + '?f=chat&s=edit_group',
					type: 'POST',
					dataType: 'json',
					beforeSend: function () {
						Wo_progressIconLoader($('#edit_chat_group_form').find('button'));
						$('#edit_chat_group_form').find('.modal-footer .ball-pulse').fadeIn(100);
					},
					success: function (data) {
						if (data['status'] == 200) {
							$("#edit_group_chat").modal('hide');
							location.reload();
						}
						else {
							$("#edit_chat_group_alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
						}
						$('#edit_chat_group_form').find('.modal-footer .ball-pulse').fadeOut(100);
					}
				});
			});

			function Timeout() {
				var inputs = $("input.chat-user-id");
				if (inputs.length > 0) {
					for (var i = 0; i < inputs.length; i++) {
						Wo_ChatSide($(inputs[i]).val());
					}
				} else {
					Wo_ChatSide(0);
				}
				setTimeout(function () {
					Timeout();
				}, 7000);
			}

			function Wo_ChatSearchUsers(search_query) {
				var input = $($('.search-users-chat'));
				var offline_users_container = $('.online-users');
				if (input.val() == "") {
					Wo_ChatSide(0);
				}
				$.post(Wo_Ajax_Requests_File() + '?f=chat&s=search_for_recipients', {
					search_query: search_query
				}, function (data) {
					if (data.status == 200) {
						if (data.html.length == 0) {
							offline_users_container.html('<span class="no-online-users center-text">Chưa có ai.</span>');
						} else {
							offline_users_container.html(data.html);
						}
						$('.chat-container').scrollTop($('.chat-container')[0].scrollHeight);
					}
				});
			}

			function Wo_UpdateStatus(status, event) {
				event.preventDefault();
				var status_container = $('.online-content-toggler');
				var offline_status = status_container.find('.chat-opacity');
				$.post(Wo_Ajax_Requests_File() + '?f=chat&s=update_chat_status', {
					status: status
				}, function (data) {
					if (data.status == 0) {
						offline_status.removeClass('active').fadeOut(200);
					} else {
						offline_status.addClass('active').fadeIn(200);
					}
				});
			}

			function Wo_RegisterTyping(id) {
				recipient_id = $('.chat_main_' + id).find('#user-id').val();
				if (typeof recipient_id === 'undefined') {
					return false;
				}
				$.get(Wo_Ajax_Requests_File(), {
					f: 'chat',
					s: 'recipient_is_typing',
					recipient_id: recipient_id
				});
			}

			function Wo_DeleteTyping(id) {
				chat_container = $('.chat_main_' + id);
				recipient_id = chat_container.find('#user-id').val();
				if (typeof recipient_id === 'undefined') {
					return false;
				}
				$.get(Wo_Ajax_Requests_File(), {
					f: 'chat',
					s: 'remove_typing',
					recipient_id: recipient_id
				});
			}

			function Wo_CloseChat(id, type) {
				var tab_type = {};
				if (!type) {
					Wo_CleanRecordNodes();
					Wo_StopLocalStream();

					$('.chat_main_' + id).fadeOut(200, function () {
						$(this).remove();
					});

					$(document.body).removeAttr('data-chat-recipient');
					tab_type = { f: 'chat', s: 'close_chat', id: id };
				}
				else if (type == 'group') {
					$('.chat_main_0').toggle(100, function () { $(this).remove(); });
					tab_type = { f: 'chat', s: 'close_group', id: id };
				}
				$.get(Wo_Ajax_Requests_File(), tab_type);
			}

			function Wo_ShareChatFile(id) {
				document.title = document_title;
				$("form.chat-sending-form-" + id + " #sendMessage").focus();
				$("form.chat-sending-form-" + id).submit();
			}

			function Wo_AddEmoToChat(code, id) {
				inputTag = $('.chat-sending-form-' + id + ' textarea');
				inputVal = inputTag.val();
				//$('.emo-container').hide();
				if (typeof (inputTag.attr('placeholder')) != "undefined") {
					inputPlaceholder = inputTag.attr('placeholder');
					if (inputPlaceholder == inputVal) {
						inputTag.val('');
						inputVal = inputTag.val();
					}
				}
				if (inputVal.length == 0) {
					inputTag.val(code + ' ');
				} else {
					inputTag.val(inputVal + ' ' + code);
				}
				inputTag.keyup().focus();
			}

			function Wo_AddEmoToGroup(code, id) {
				inputTag = $('.group-chat-sending-' + id + ' textarea');
				inputVal = inputTag.val();
				$('.emo-container').hide();
				if (typeof (inputTag.attr('placeholder')) != "undefined") {
					inputPlaceholder = inputTag.attr('placeholder');
					if (inputPlaceholder == inputVal) {
						inputTag.val('');
						inputVal = inputTag.val();
					}
				}
				if (inputVal.length == 0) {
					inputTag.val(code + ' ');
				} else {
					inputTag.val(inputVal + ' ' + code);
				}
				inputTag.keyup().focus();
			}

			function Wo_SubmitChatForm(e, id) {
				document.title = document_title;
				chat_tab_container = $('.chat_main_' + id);
				if (e.keyCode == 13 && e.shiftKey == 0) {
					Wo_DeleteTyping(id);
					e.preventDefault();
					Wo_RegisterTabMessage(id);
					typing_chat_con.find('.messages-text:last').find('.message-seen').empty();
				}
			}

			function Wo_SearchGChatParticipants(name, group_id) {
				if (!name || !group_id) { return false; }
				$.ajax({
					url: Wo_Ajax_Requests_File(),
					type: 'GET',
					dataType: 'json',
					data: { f: 'chat', s: 'search_parts', name: name, group_id: group_id },
				})
					.done(function (data) {
						if (data.status == 200) {
							$('.group_chat_mbr_list_' + group_id).html(data.html);
						}
						else {
							$('.group_chat_mbr_list_' + group_id).html('<p class="search-filter-center-text">Không tìm thấy kết quả</p>');
						}
					})
					.fail(function () {
						console.log("error");
					})
			}

			function Wo_AddGChatPart(group_id, user_id) {
				if (!user_id || !group_id) { return false; }
				$.ajax({
					url: Wo_Ajax_Requests_File(),
					type: 'GET',
					dataType: 'json',
					data: { f: 'chat', s: 'add_gchat_user', user_id: user_id, group_id: group_id },
				})
					.done(function (data) {
						if (data.status == 200 && data.code == 1) {
							$("[data-group-chat-part='" + user_id + "']").find('span.status').html('<i class="fa fa-times main"></i>');
						}
						else if (data.status == 200 && data.code == 0) {
							$("[data-group-chat-part='" + user_id + "']").find('span.status').html('<i class="fa fa-plus-square-o main"></i');
						}
						else {
							return false;
						}
					})
					.fail(function () {
						console.log("error");
					})
			}
		</script>
		<div class="modal fade sun_modal" id="logged-out-modal" role="dialog" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title"><i class="fa fa-exclamation-circle"></i> Session Expired</h4>
					</div>
					<div class="modal-body">
						<p>Your Session has been expired, please login again.</p>
					</div>
					<div class="modal-footer">
						<a href="https://biztime.com.vn/welcome" type="button" class="btn btn-default">Đăng nhập</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>